#choices {
    display:block;
    margin:10px auto;
    width:50%;
}

#initials {
    display:block;
    margin:10px auto;
}

ul {
    list-style-type:none;
    padding-inline-start: 0px;

}

#highScoreBtn {
    display:block;
    margin:10px auto;
    width:50%
}